* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.dyi-container{
  padding: 30px;
  min-height: 60rem;
  min-width: 20rem;
}

.main{
  
}

.nav-bar{
  
}


.background-image{
  background-image: url("../public/static/finance_tracker_app_wallpaper.jpeg");
  /* background-repeat: repeat-x; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}